:root {
    --color:#00aed1;
  }
  .btn{
    position: relative;
  padding: 0.375rem 0.75rem;
  margin: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: wheat;
  text-decoration: none;
  background: var(--color);
  border: 1px solid var(--color);
  border-radius: 3px;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
  animation: jittery 4s infinite;
}
@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}